.article {
  background-color: #FCF8F3;
  margin-top: 3rem;
  padding: 6rem 0;
}

.articleItems {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.articleTitle {
  color: #3a3a3a;
  /* font: 2.5rem/120% "Poppins-Bold", sans-serif; */
  font-size: clamp(1rem, 0.4545rem + 2.7273vw, 2.5rem);
  line-height: 120%;
  font-family: "Poppins-Bold", sans-serif;;
  width: 26rem;
}

.articleText {
  color: #616161;
  font: 1rem/150% "Poppins-Medium", sans-serif;
  width: 23rem;
  margin-bottom: 1.5rem;
}

.articleLink {
  color: #fff;
  background-color: var(--primary, #b88e2f);
  font: 1rem/150% "Poppins-SemiBold", sans-serif;
  padding: 0.75rem 2.25rem;
}

.swiperContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  width: 60%;
}

.firstSwiperContainer,
.secondSwiperContainer {
  width: 48%; 
}

.sliderImg,
.secondSliderImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.firstSlider {
  position: relative;
  filter: drop-shadow(0px 0px 7px rgba(83, 83, 83, 0.40));
}

.swiperItems {
  width: 232px;
  position: absolute;
  background: rgba(255, 255, 255, 0.68);
  backdrop-filter: blur(3px);
  opacity: 0.5px;
  padding: 32px;
  bottom: 1.5rem;
  left: 1.5rem;
}

.swiperText {
  font: 1rem/150% "Poppins-Medium", sans-serif;
  color: #616161;
  margin-bottom: 8px;
}

.swiperTitle {
  font: 1.75rem/120% "Poppins-SemiBold", sans-serif;
  color: #3a3a3a; 
}

.swiperLinkItem {
  position: absolute;
  padding: 10px;
  color: #fff;
  background-color: var(--primary);
  left: 255px;
  bottom: 24px;
  font-size: 1.7rem;
}

.secondSwiperItem {
  filter: drop-shadow(0px 0px 7px rgba(83, 83, 83, 0.40));
}

@media (max-width: 767px) {
  .article {
    margin-top: 1.5rem;
    padding: 1rem 0;
  }

  .articleItems {
    flex-direction: column;
  }

  .articleTitle {
    font-size: clamp(1rem, -0.3268rem + 5.8968vw, 2.5rem);
    text-align: center;
    width: 100%;
  }

  .articleText {
    font-size: clamp(0.7rem, 0.4346rem + 1.1794vw, 1rem);
    margin-bottom: 1rem;
    text-align: center;
    width: 100%;
  }

  .articleLink {
    font-size: clamp(.8rem, .6231rem + .7862vw, 1rem);
    padding: 0.4rem 1rem;
    width: fit-content;
    display: block;
    margin: 0 auto 1rem;
    text-align: center;
  }

  .swiperContainer {
    gap: 0.7rem;
    flex-wrap: nowrap;
    width: 100%;
  }

  .swiperItems {
    width: clamp(6.9375rem, 0.2483rem + 29.7297vw, 14.5rem);
    padding: 12px;
  }
  
  .swiperText {
    font-size: clamp(0.6rem, 0.2462rem + 1.5725vw, 1rem);
    margin-bottom: 5px;
  }
  
  .swiperTitle {
    font-size: clamp(0.8rem, -0.0403rem + 3.7346vw, 1.75rem);
  }
  
  .swiperLinkItem {
   display: none;
  }

}

@media (min-width: 768px) and (max-width: 991px) {
  .article {
    margin-top: 1.5rem;
    padding: 1rem 0;
  }

  .articleItems {
    flex-direction: column;
  }

  .articleTitle {
    font-size: clamp(1rem, 2rem, 2.5rem);
    text-align: center;
    width: 100%;
  }

  .articleText {
    font-size: clamp(0.7rem, 0.8rem, 1rem);
    margin-bottom: 1rem;
    text-align: center;
    width: 100%;
  }

  .articleLink {
    font-size: clamp(0.8rem, 0.6231rem, 1rem);
    padding: 0.4rem 1rem;
    width: fit-content;
    display: block;
    margin: 0 auto 1rem;
    text-align: center;
  }

  .swiperContainer {
    gap: 1rem;
    flex-wrap: nowrap;
  }

  .sliderImg,
  .secondSliderImg {
    width: 100%;
    /* height: 100vh; */
    object-fit: contain;
  }

  .swiperItems {
    display: none;
  }
  
  .swiperLinkItem {
   display: none;
  }
  

}

@media (min-width: 992px) and (max-width: 1199px) {
  
}

@media (min-width: 1200px)and (max-width: 1350px) {
 

}