.productsTitle {
  font: 2.5rem/120% "Poppins-Bold", sans-serif;
  text-align: center;
  margin: 3.5rem 0 2rem;
}

.mainGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(285px, 1fr));
  gap: 2rem 0.6rem;
  margin-bottom: 2rem;
  height: 51.563rem;
}

.gridItems {
  width: 17.8rem;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.colorWhite {
  color: #fff;
}

.gridImage {
  width: 100%;
  object-fit: cover;
  display: block;
  border-radius: 10px 10px 0 0;
}

.gridInfo {
  background-color: #F4F5F7;
  padding: 1rem 1.2rem 1.5rem;
  height: 6rem;
  border-radius: 0 0 10px 10px;
}

.gridTitle {
  font: 1.5rem/120% "Poppins-SemiBold", sans-serif;
}

.font {
  font: 1rem/150% "Poppins-SemiBold", sans-serif;
}

.pagination {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 3rem;
}

.pagination button {
  font: 1.25rem "Poppins-Regular", sans-serif;
  border: none;
  color: #000;
  background-color: #f9f1e7;
  border-radius: 10px;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
}

.pagination button:is(:hover, .activePage) {
  background-color: var(--primary, #b88e2f);
  color: #fff;
}

.productShow {
  color: var(--primary, #b88e2f);
  display: flex;
  align-items: center;
  justify-content: center;
  width: clamp(150px, 40%, 250px);
  height: 48px;
  border: 2px solid var(--primary, #b88e2f);
  margin-top: 2rem;
}

@media (max-width: 767px) {
  .productsTitle {
    font-size: clamp(1.8rem, 1.2989rem + 2.5056vw, 2.5rem);
    margin: 2rem 0 1rem;
  }

  .mainGrid {
    place-items: center;
    gap: 1rem 0rem;
    margin-bottom: 1.2rem;
  }
  
}

@media (min-width: 768px) and (max-width: 991px) {

}

@media (min-width: 992px) and (max-width: 1199px) {

}

@media (min-width: 1200px) {

}