.browseItemsTexts {
  margin: 3rem 0;
}

.textCenter {
  text-align: center;
}

.colorGrey {
  color: #333;
}

.sectionTitle {
  font: 2rem "Poppins-Bold", sans-serif;
}

.sectionText {
  font: 1.25rem "Poppins-Regular", sans-serif;
  color: #666;
}

.sectionLinksContainer {
  display: flex;
  justify-content: space-between;
}

.browseLinks {
  overflow: hidden;
  border-radius: 5px;
  padding-bottom: 2rem;
}

.browseLinks img {
 transition: 0.5s all ease-in-out;
}

.browseLinks:hover img {
  transform: scale(1.13);
}

.linkItems {
  font: 1.5rem "Poppins-SemiBold", sans-serif;
}

.browseImages {
  display: block;
  padding-bottom: 1.8rem;
}

@media (max-width: 767px) {
  .browseItemsTexts {
    margin: 1.5rem 0;
  }

 .sectionTitle {
  font-size: clamp(1.2rem, 0.6273rem + 2.8635vw, 2rem);
 }

 .sectionText {
  font-size: clamp(0.8rem, 0.4779rem + 1.6107vw, 1.25rem);
 }

 .sectionLinksContainer {
  justify-content: center;
  gap: 0 20px;
  flex-wrap: wrap;
 }

 .browseLinks {
  flex-basis: 25%;
  margin-bottom: 0px;
 }

 .browseImages {
  padding-bottom: 0.8rem;
  width: 100%;
  height: 100%;
 }

 .linkItems {
  font-size: clamp(1.2rem, 0.9852rem + 1.0738vw, 1.5rem);
 }
}

@media (min-width: 768px) and (max-width: 991px) {
  .browseItemsTexts {
    margin: 1rem 0;
  }

 .sectionTitle {
  font-size: clamp(1.2rem, 0.6273rem + 2.8635vw, 2rem);
 }

 .sectionText {
  font-size: clamp(0.8rem, 0.4779rem + 1.6107vw, 1.25rem);
 }

 .sectionLinksContainer {
  justify-content: center;
  flex-wrap: wrap;
  gap: 0 20px;
 }

 .browseLinks {
  flex-basis: 25%;
  margin-bottom: 10px;
 }

 .browseImages {
  padding-bottom: 1.8rem;
  width: 100%;
  height: 100%;
 }

 .linkItems {
  font-size: clamp(1.2rem, 0.9852rem + 1.0738vw, 1.5rem);
 }

}

@media (min-width: 992px) and (max-width: 1199px) {
 .sectionTitle {
  font-size: clamp(1.2rem, 0.6273rem + 2.8635vw, 2rem);
 }

 .sectionText {
  font-size: clamp(0.8rem, 0.4779rem + 1.6107vw, 1.25rem);
 }

 .sectionLinksContainer {
  justify-content: center;
  flex-wrap: wrap;
  gap: 0 20px;
 }

 .browseImages {
  padding-bottom: 1.8rem;
  width: 100%;
  height: 100%;
 }

 .browseLinks {
  margin-bottom: 15px;
 }

 .linkItems {
  font-size: clamp(1.2rem, 0.9852rem + 1.0738vw, 1.5rem);
 }

}

@media (min-width: 1200px) {

}